# App settings
CSV_PATH=data/customers.csv
PORT=5001

# MSG91
MSG91_AUTH_KEY=
MSG91_WHATSAPP_SENDER=
MSG91_TEMPLATE_ID=

# Pricing (in INR)
PRICE_INR_UTILITY=0.115
PRICE_INR_SERVICE=0.0
PRICE_INR_MARKETING=0.0
