# env
.venv/
venv/
.env

# python
__pycache__/
*.pyc

# logs
logs/

# jupyter
.ipynb_checkpoints/
*.ipynb

# text files
*.txt

# data
data/customers.csv

# diagrams
*.drawio

# notes
whatsapp_notes.md